/*  Reset CSS */
body,
ul,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit; /* 부모의 색을 상속받겠다. */
  text-decoration: none;
}

/* Layout Css */
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* Commons */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*  Components CSS */
body {
  background-color: #111;
  color: #999;
  font-size: 14px;
}

.button {
  background-color: purple;
  color: white;
  padding: 0.5em 1.2em 0.7em;
  display: inline-block;
  line-height: 1;
  color: violet;
}

.header {
}

.logo {
  /* background-color: orange; */
  text-indent: -999px;
  overflow: hidden;
  float: left; /* 플롯 때문에 a 태그에 height 가 먹는다*/
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 80px;
}

.menu {
  float: left;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  position: relative;
}

.menu li a::before {
  content: "";
  background-color: currentColor;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0 100px;
  /* margin: 0 ; */
  transition: margin 0.5s ease-in-out;
}

.menu li a:hover {
  color: #fff;
}

.menu li a:hover::before {
  margin: 0;
  /* margin: 100px; */
}

.contents {
  /* background-color: rgba(255, 255, 255, 0.4); */
  border-bottom: 3px solid #000;
}

.cover {
  background-image: url(images/cover.png);
  height: 300px;
  position: relative;
  border-radius: 5px;
}

.cover-car {
  position: absolute;
  left: 625px;
  top: -60px;
}

.cover-contents {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 20px;
  padding: 10px;
  border-radius: 3px;
}

.cover-contents h1 {
  line-height: 1.1;
  font-family: "Alatsi", sans-serif;
}

.cover-contents h1 strong {
  display: block;
  color: orangered;
}

.cover-contents p {
  margin: 10px 0;
}

.price {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: orange;
}

.price:before {
  content: "$";
}

.price:after {
  content: "/mo";
  font-size: 0.5em;
  color: #999;
}

.description {
  width: 300px;
}

.service {
  /* background-color: dodgerblue; */
  padding: 30px 0;
}

.service-item {
  float: left; /* 인라인 블럭처럼됨 부모한테 clearfix*/
  width: 33.333%;
}

.service-item-cover {
  float: left;
}

.service-item-contents {
  /* 이게 중요 */
  overflow: hidden;
  padding: 0 10px;
}

.service-item-contents h2 {
  margin-bottom: 10px;
  color: #dddddd;
}

.footer {
  border-top: 1px solid #383838;
  padding: 20px 0;
}

.footer-logo {
  padding-right: 0.3em;
  margin-right: 0.3em;
  position: relative;
}

.footer-logo::after{
  content: '';
  position: absolute;
  background: white;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  /* margin-bottom: 0.15em; */
  opacity: 0.1;
  right: -0.25em;
  border-radius: 10px;
}
